<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>播放页</title> 
  <style type="text/css">
  	[v-cloak]{
  		display: none;
  	}
  </style>
</head>
<body>
	<div id="app" v-cloak>
		<video width="100%" height="200px" controls v-bind:src="VideoAddress[Vaddress]">
	        <source v-bind:src="VideoAddress[Vaddress]">
	    </video>		
		<div class="pd10">
			<div class="v_tit">
				<!-- 视频标题 -->{{aboutData.meeting_title}}
			</div>
			<div class="mt-xs">
				<p class="v_speaker" v-text='"主讲："+aboutData.meeting_specialist'><!-- 主讲：刘教授 --></p>
				<div>
					<span class="v_num" v-html='"播放数 "+aboutData.play_num+" &nbsp; &bull; &nbsp; 获赞数 "+aboutData.support_num'></span>
					<div class="fl-r">
						<img class="mr-sm" @click='praise' v-bind:src="aboutData.is_support>0?PraiseIcon:PraiseIconN" height="20em">
						<img class="mr-sm" @click='collection' v-bind:src="aboutData.is_collection>0?CollectionIcon:CollectionIconN" height="20em">
						<!-- <img class="mr-sm" @click='share' src="images/icon/fenxiang.png" height="20em"> -->
					</div>
				</div>
			</div>
			<div class="v_row">
				<h4>精彩片段</h4>
				<div class="v_list"><!-- ::-webkit-scrollbar {display: none;} -->
					<div class="box-sizing v_item" :class="item.Vactive?'active':''" @click='VideoItem(item,index)'  v-for="(item,index) in VideoList">
						{{item.tit}}
					</div>
				</div>
			</div>
		</div>
		<div class="comment_list">
			<div class="comment_num">
				全部评论 {{commentData.length}}
			</div>
			<div v-show='commentData.length ==0' style="color: #999;text-align: center;padding: 20px;">
				暂无评论...
			</div>
			<div class="item" v-for="(item,index) in commentData">
				<a href="javascript:;" @click='UserInformation(item.user_id)'>
					<img :src="item.headimg">
				</a>
				<div class="item_xx">
					<div>
						<span class="item_name" @click='UserInformation(item.user_id)'>{{item.user_name}}</span>
						<div class="fl-r">
							<span style="position: relative;vertical-align: middle;margin-right: 14px;">
								<img @click='luelue(item,index)' style="vertical-align: middle;" height='14px' src="images/icon/luelue.png">
								<span class="report" v-show='item.jubao' @click='report(item,index)'>
									举报
								</span>
							</span>
							<img class="likes" @click='like(item,index)' :src="item.is_support>0?likeIcon:likeIconN">
							<span class="likes_num">
								{{item.comment_support_num}}
							</span>
						</div>
					</div>
					<div class="item_inner">
						{{item.comment_content}}
					</div>
					<div class="mt-sm">
						<span class="item_time">{{item.ctime | DateDiff}} &nbsp; &bull; &nbsp;</span>
						<a class="item_hf" :href="'replay.html?comment_id='+item.comment_id+'&userid='+user_id">回复</a>
					</div>
				</div>
			</div>
		</div>
		<div style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;text-align: center;background-color: rgba(0,0,0,0.2);" @click='mask=false' v-show='mask'>
			<div style="margin:60% auto 0 auto;background: #F9F9F9;padding: 20px;display: inline-block;border-radius: 5px;color: #000;">
				举报成功，感谢您的监督。
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
	<script type="text/javascript" src="js/vue-resource.js"></script>
	<script type="text/javascript">
		var app = new Vue({
		  	el: '#app',
		  	data: {
		  		// 视频标题
		    	VideoTitle: '手术器械在手术室中的正确使用方法',
		    	// 视频主讲人
		    	VideoSpeaker:'刘教授',
		    	// 视频播放数
		    	PlaybackNumber:240,
		    	// 视频获赞数
		    	NumberPraise:24340,
		    	// 视频点赞
		    	Praise:true,
		    	// 点赞地址
		    	PraiseIcon:'images/icon/dadianzan.png',
		    	// 点赞地址
		    	PraiseIconN:'images/icon/dadianzai.png',
		    	// 收藏
		    	// 收藏icon地址
		    	CollectionIcon:'images/icon/yishoucang.png',
		    	CollectionIconN:'images/icon/shoucang.png',
		    	// 没点赞
		      	likeIconN:'images/icon/dianzan.png',
		      	// 已点赞
		      	likeIcon:'images/icon/dadianzan.png',
		    	// 视频播放地址列表
		    	VideoAddress:[],
		    	// 视频列表
		    	VideoList:[],
		    	// 视频地址 下标
		    	Vaddress:0,
		    	// -------------------------------------------------------------
		    	//回顾id
		    	replay_sub_id:'',
		    	//用户id
		    	user_id:'',
		    	// 详情数据列
		    	aboutData:[],
		    	//评论列 数据
		    	commentData:[],
		    	//遮罩层
	      		mask:'',
	      		jubao:false
		  	},
		  	mounted:function () { window.refreshcomment = this.refreshcomment; },
		  	// 页面加载
			created:function(){
				//获取参数
				this.getUrlParam();
				// 讨论详情
	      		this.getRoute();
	      		// 讨论评论
	      		this.allcomment();

			},
		  	// 在 `methods` 对象中定义方法
			methods: {
				// 跳转用户首页
				UserInformation:function(u) {
					// event.preventDefault();
					window.webkit.messageHandlers.asd.postMessage(u);
				},
				// 点赞
			    praise: function (event) {
			      var that = this;
		      		that.$http({
		      			method:'GET',
		      			url:this.aboutData.is_support>0?'http://39.106.2.216/index.php/API/get_cel_support?userid='+this.user_id+'&toid='+this.aboutData.replay_sub_id+'&supType=3':'http://39.106.2.216/index.php/API/get_support?userid='+this.user_id+'&toid='+this.aboutData.replay_sub_id+'&supType=3',
		      			
		      			// emulateJSON:true
		      		}).then(function(response){
		      			if (this.aboutData.is_support >0) {
			      			this.aboutData.is_support = 0;
			      		}else{
			      			this.aboutData.is_support = 1;
			      		}
			      		console.log(response)
		      		},function(error) {
		      			console.log(error)
		      		})
			    },
			    // 收藏
			    collection: function (event) {
			    	var that = this;
			    	if (this.aboutData.is_collection >0){
			    		that.$http.post('http://39.106.2.216/index.php/API/post_cel_collect',{userid:this.user_id,toid:this.aboutData.replay_sub_id,type:3},{emulateJSON: true}).then(function(response){
				      			this.aboutData.is_collection = 0;
				      		console.log(response)
			      		},function(error) {
			      			console.log(error)
			      		})
			    	}else{
			      		that.$http.post('http://39.106.2.216/index.php/API/post_collection',{userid:this.user_id,toid:this.aboutData.replay_sub_id,type:3},{emulateJSON: true}).then(function(response){
				      			this.aboutData.is_collection = 1;
				      		console.log(response)
			      		},function(error) {
			      			console.log(error)
			      		})
		      		}
			    },
			    // 视频简介item
			    VideoItem:function (item,index) {
			    	for (var i = 0;i < this.VideoList.length;i++) {
			    		this.VideoList[i].Vactive = false;
			    	}
			    	item.Vactive = true;
			    	this.Vaddress = index;
			    	// console.log(this.VideoAddress[this.Vaddress]);
			    },
			    // 获取参数
		      	getUrlParam: function () {
			        var name,value;
			        var str=location.href; //取得整个地址栏
			        var num=str.indexOf("?");
			        str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
			    
			        var arr=str.split("&"); //各个参数放到数组里
			        for(var i=0;i < arr.length;i++){
			            num=arr[i].indexOf("=");
			            if(num>0){
			                name=arr[i].substring(0,num);
			                value=arr[i].substr(num+1);
			                this[name]=value;
			            }
			        }
			        console.log(this.user_id)
			    },
			    // 分享 与ios交互
			    share:function () {
			    	window.webkit.messageHandlers.share.postMessage();
			    },
			    // 点赞 
		      	like:function (item,index) {
		      		var that = this;
		      		if (item.is_support>0) {
		      			that.$http.post('http://39.106.2.216/index.php/API/post_cel_support',{userid:this.user_id,toid:item.comment_id,supType:5},{emulateJSON:true}).then(function(response) {
		      				item.comment_support_num -=1;
		      				item.is_support = 0;
		      				console.log(response)
		      			},function(error) {
		      				console.log(error)
		      			})
		      		}else{
		      			that.$http({
		      				method:'GET',
		      				url:'http://39.106.2.216/index.php/API/get_support?userid='+this.user_id+'&toid='+item.comment_id+'&supType=5',
		      			}).then(function(response) {
		      				item.comment_support_num = parseInt(item.comment_support_num);
		      				item.comment_support_num +=1;
			      			item.is_support = 1;
			      			console.log(response)
		      			},function(error) {
		      				console.log(error)
		      			})
		      		}
		      	},
		      	// 举报切换
		     	luelue:function (item,index) {
		     		item.jubao = !item.jubao;
		     		console.log(item.jubao)
		     	},
		      	// 举报Icon
		      	report:function(item,index) {
		      		var that = this;
		      		that.$http.post('http://39.106.2.216/index.php/API/post_report',{user_id:this.user_id,to_id:item.comment_id,type:0,to_type:4,content:item.comment_content},{emulateJSON:true}).then(function (argument) {
		      			this.mask = true;
	      				item.jubao = !item.jubao;
		      			console.log(argument)
		      		},function(argument) {
		      			console.log(argument)
		      		})
		      	},
			    // ----------------------------------------------------------
			    getRoute: function () {
			        var that = this; 
			        that.$http({           //get_hot_labelList_detail
			        	method: 'GET',
			         	url: 'http://39.106.2.216/index.php/API/get_replay_detail?replay_sub_id='+this.replay_sub_id+'&user_id='+this.user_id //这里填写刚刚后台设置的接口
			        }).then(function(response){
			        	console.log(response.data.data.active)
			         	this.aboutData = response.data.data.active; // promise的then成功之后，将response返回的数据data，保存到aboutData数组里
			         	var Videol= response.data.data.active.cutting_title.split(',');
			         	Videol[0] == ''?Videol=[]:Videol;
			         	Videol.unshift(this.aboutData.meeting_title);
			         	for (var i = Videol.length - 1; i >= 0; i--) {
			         		this.VideoList[i]={tit:Videol[i]}
			         	}
			         	// var articleTags = this.aboutData.article_tags;
			         	var Vurl = response.data.data.active.cutting_url.split(',');
			         	Vurl[0] == ''?Vurl=[]:Vurl;
			         	Vurl.unshift(this.aboutData.video_url);
			         	for (var i = Vurl.length - 1; i >= 0; i--) {
			         		this.VideoList[i].Vactive = false;
			         		this.VideoList[0].Vactive = true;
			         		this.VideoAddress = Vurl;
			         	}
			        },function (error) {
			         	console.log(error);
			        })
		      	},
		      	// 刷新评论列
		      	refreshcomment:function (u) {
		      		var that = this;
		      		var u = u;
		      		that.$http({
		      			method:'GET',
		      			url:'http://39.106.2.216/index.php/API/get_allcomment_byid?toid='+this.replay_sub_id+'&comType=0&comment_to_type=4&user_id='+this.user_id
		      		}).then(function(response){
			         	 // promise的then成功之后，将response返回的数据data，保存到commentData数组里
			         	// 	response.data.data[response.data.data.length-1].jubao = false;
			         	// this.commentData.unshift(response.data.data[response.data.data.length-1])
			         	if (response.data.data.length ==1 ) {
			         			response.data.data[0].jubao = false;
			         			this.commentData = response.data.data;
			         	}else{
				         	for (var i = 0; i < response.data.data.length; i++) {
				         		if (response.data.data[i].user_id == this.user_id) {
				         			if (response.data.data[i].comment_content == u) {
					         			response.data.data[i].jubao = false;
					         			var refresh = [];
					         			refresh = response.data.data.splice(i,1);
					         			this.commentData.unshift(refresh[0]);
					         			return;
					         		}
				         		}
				         	}
			         	}
			        },function (error) {
			         	console.log(error);
			        })
		      	},
		      	// 评论列表
		      	allcomment:function (argument) {
		      		var that = this;
		      		that.$http({
		      			method:'GET',
		      			url:'http://39.106.2.216/index.php/API/get_allcomment_byid?toid='+this.replay_sub_id+'&comType=0&comment_to_type=4&user_id='+this.user_id
		      		}).then(function(response){
			         	 // promise的then成功之后，将response返回的数据data，保存到commentData数组里
			         	for (var i = response.data.data.length - 1; i >= 0; i--) {
			         		response.data.data[i].jubao = false;
			         		console.log(this.commentData)
			         	}
			         	this.commentData = response.data.data;
			         	console.log(this.commentData)
			        },function (error) {
			         	console.log(error);
			        })
		      	},
			},
		});
		// 自定义过滤器
		Vue.filter('DateDiff',function(input) {
			var dateTimeStamp = Date.parse(input.replace(/-/gi,"/"));
			var minute = 1000 * 60;
			var hour = minute * 60;
			var day = hour * 24;
			var halfamonth = day * 15;
			var month = day * 30;
			var now = new Date().getTime();
			var diffValue = now - dateTimeStamp;
			if(diffValue < 0){return;}
			var monthC =diffValue/month;
			var weekC =diffValue/(7*day);
			var dayC =diffValue/day;
			var hourC =diffValue/hour;
			var minC =diffValue/minute;
			if(monthC>=1){
				result="" + parseInt(monthC) + " 月前";
			}
			else if(weekC>=1){
				result="" + parseInt(weekC) + " 周前";
			}
			else if(dayC>=1){
				result=""+ parseInt(dayC) +" 天前";
			}
			else if(hourC>=1){
				result=""+ parseInt(hourC) +" 小时前";
			}
			else if(minC>=1){
				result=""+ parseInt(minC) +" 分钟前";
			}else
			result="刚刚";
			return result;
		})
	</script>
</body>
</html>